<h2>ember-background-video demo</h2>

{{#background-video
  mp4="demo.mp4"
  webm="demo.webm"
  ogv="demo.ogv"
  poster="demo.jpg"
}}
  <h3>Reactive Programming WTF</h3>
  <p>Look how much fun Ben is having making graphs with RxJS and Angular 2. You'd think he's using Ember because this is an Ember addon, but no.</p>
{{/background-video}}